{% extends 'base.html'%}
{% block content %}

<div>
    <h1>{{user.full_name}}</h1>
    {% if user.image_url %}
    <img src={{user.image_url}}>
    {% endif %}
    <form>
        <button formmethod="get" formaction="/users/{{ user.id }}/edit">Edit</button>
        <button formmethod="post" formaction="/users/{{ user.id }}/delete">Delete</button>
    </form>
    <ul>
    {% for post in user.posts %}
    <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
    {% endfor %}
    </ul>
    <a href="/users/{{user.id}}/posts/new">Add post</a>
    <br>
    <a href="/users">Back</a>
</div>


{% endblock %}
